{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>Login</h2>

    <form method="post">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-error">{{ form.non_field_errors}}</div>
        {% for form_item in form %}
            <p>
                <label class="form-label" for="{{ form_item.id_for_label }}">{{ form_item.label }}</label>
                {{ form_item }}
            </p>
            <div class="form-error">{{ form_item.errors }}</div>
        {% endfor %}

        <!-- Button -->
        <div class="col-12">
            <ul class="actions form-button">
                <li><input type="submit" value="Login" class="primary" /></li>
            </ul>
            <p>
                <a class="social-auth" href="{% url 'social:begin' 'github' %}">
                    <img class="social-image" src="{% static 'books/images/social-auth/github.png' %}" alt="github-auth">
                </a>
            </p>
            <p><a href="{% url 'users:password_reset' %}">Forgot your password?</a></p>
        </div>

    </form>

{% endblock %}