{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>Register</h2>

    <form method="post">
        {% csrf_token %}

        <input type="hidden" name="next" value="{{ next }}" />
        <div class="form-error">{{ form.non_field_errors}}</div>
        {% for form_item in form %}
            <p>
                <label class="form-label" for="{{ form_item.id_for_label }}">{{ form_item.label }}</label>
                {{ form_item }}
            </p>
            <div class="form-error">{{ form_item.errors }}</div>
        {% endfor %}

        <!-- Button -->
        <div class="col-12">
            <ul class="actions form-button">
                <li><input type="submit" value="Register" class="primary" /></li>
            </ul>
        </div>

    </form>

{% endblock %}