#site-name a:link, #site-name a:visited {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-weight: 700;
    color: white;
}

#header, .module caption {
    background-color: #212931;
    color: #00AF64;
}

#nav-sidebar .current-app .section:link, #nav-sidebar .current-app .section:visited {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #00AF64;
}

.button, input[type=submit], input[type=button], .submit-row input, a.button {
    background-color: #18bfef;
}

.module h2, .module caption, .inline-group h2 {
    background-color: #212931;
}