{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

		<link rel="shortcut icon" type="image/x-icon" href="{% static 'books/images/favicon.png' %}"/>
		<link rel="stylesheet" href="{% static 'books/css/style.css' %}" />
		<noscript><link rel="stylesheet" href="{% static 'books/css/noscript.css' %}" /></noscript>
    </head>

	<body class="is-preload">

		<!-- Wrapper -->
		<div id="wrapper" class="fade-in">

			{% include 'includes/header.html' %}
			{% include 'includes/nav.html' %}

            <div id="main">
			    {% block content %}{% endblock %}
                {% block breadcrumbs%}{% endblock %}
            </div>

			{% include 'includes/footer.html' %}

		</div>

		<!-- Scripts -->
        <script src="{% static 'books/js/jquery.min.js' %}"></script>
        <script src="{% static 'books/js/jquery.scrollex.min.js' %}"></script>
        <script src="{% static 'books/js/jquery.scrolly.min.js' %}"></script>
        <script src="{% static 'books/js/browser.min.js' %}"></script>
        <script src="{% static 'books/js/breakpoints.min.js' %}"></script>
        <script src="{% static 'books/js/util.js' %}"></script>
        <script src="{% static 'books/js/main.js' %}"></script>
	</body>

</html>