{% load static %}

<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>{% block title %}{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Montserrat:500&display=swap" rel="stylesheet">

        <!-- CSS Files -->
        <link rel="stylesheet" type="text/css" href="{% static 'books/css/style.css' %}">
    </head>

    <body>
        {% include 'includes/header.html' %}

        {% block content %} {% endblock %}
    </body>

</html>