{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}


{% block content %}

        <!-- Book Detailed Info -->
        <section class="post">
            <header class="major">
                <span class="date book-info">
                  {{ book.time_create|date:"M" }}
                  {{ book.time_create.day }},
                  {{ book.time_create.year }}
                </span>

                <ul class="actions special edit-book-button">
                    <li><a href="{% url 'edit_book' book.slug %}" class="button small">Edit Book</a></li>
                </ul>

                <h2 class="book-title"><a href="#">{{ book.title }}</a></h2>
            </header>
            {% if book.image %}
            <div class="image main book"><img src="{{ book.image.url }}" alt="book image" /></div>
            {% else %}
            <div class="image main book"><img src="{% static 'books/images/default_book_image.jpg' %}" alt="book image" /></div>
            {% endif %}
            <p> {{ book.description|linebreaks }}</p>
        </section>

{% endblock %}

<!-- Tags to a certain book-->
{% block breadcrumbs %}
    {% with book.genres.all as book_genres %}
        {% if book_genres %}
            <ul class="icons alt">
                <p class="book_genre">This book belongs to the genres:</p>
                {% for genre in book_genres|dictsort:"genre" %}
                <li><a class="genres" href="{{ genre.get_absolute_url }}">{{ genre.genre }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}

