{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <!-- Main -->
    <article class="post featured">
      <header class="major">
          <h2>Love to read and want to save the books you've read?</h2>
          <p> Then add your favorite books, a little review on it and books will never get lost.</p>
      </header>
      <a class="image main"><img src="{% static 'books/images/main_image.jpg' %}" alt="" /></a>
      <ul class="actions special">
          <li><a href="#" class="button large">Add book</a></li>
      </ul>
    </article>

{% endblock %}
