{% extends 'base.html' %}
{% load static %}
{% load book_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <!-- Show all genres (tags) -->
    {% show_all_tags %}

    <!-- Books -->
    <section class="posts">

        {% for book in books %}
            <article>
                <header>
                      <span class="date">
                          {{ book.time_create|date:"M" }}
                          {{ book.time_create.day }},
                          {{ book.time_create.year }}
                          | user: {{ book.author.username|default:"Unknown" }}
                      </span>
                    <h2 class="book-title"><a href="{{ book.get_absolute_url }}">{{ book.title|truncatechars:35 }}</a></h2>
                </header>
                {% if book.image %}
                <a href="{{ book.get_absolute_url }}" class="image fit">
                    <img src="{{ book.image.url }}" alt="book image"/>
                </a>
                {% else %}
                <a href="{{ book.get_absolute_url }}" class="image fit">
                    <img src="{% static 'books/images/default_book_image.jpg' %}" alt="book image"/>
                </a>
                {% endif %}
                <p>{{ book.description|linebreaks|truncatewords:25 }}</p>
                <ul class="actions special">
                    <li><a href="{{ book.get_absolute_url }}" class="button">Read more</a></li>
                </ul>
            </article>
        {% endfor %}
    </section>
{% endblock %}

{% block pagination %}
<footer>
    <!-- Pagination -->
    <div class="pagination">
        {% if page_obj.has_other_pages %}

        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }} " class="previous">Prev</a>
        {% endif %}

        {% for current_number_page in paginator.page_range %}
        {% if page_obj.number == current_number_page %}
        <a href="?page={{ current_number_page }}" class="page active">{{ current_number_page }}</a>
        {% elif current_number_page >= page_obj.number|add:-2 and current_number_page <= page_obj.number|add:2 %}
        <a href="?page={{ current_number_page }}" class="page">{{ current_number_page }}</a>
        {% elif page_obj.number > 2 or page_obj.number < 2%}
        <span class="extra">&hellip;</span>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }} " class="next">Next</a>
        {% endif %}

        {% endif %}
    </div>
</footer>
{% endblock %}

